<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration">
<stringAttribute key="org.codehaus.groovy.eclipse.launch.runType" value="c2.ThreeToEightTestCase"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\ChapterExercises\bin-groovy"/>
<listEntry value="C:\Users\4iiiis\.p2\pool\plugins\org.codehaus.groovy_2.4.8.xx-201701160312-e46\lib\groovy-all-2.4.8.jar"/>
<listEntry value="C:\Users\4iiiis\.p2\pool\plugins\org.codehaus.groovy_2.4.8.xx-201701160312-e46\lib\bsf-2.4.0.jar"/>
<listEntry value="C:\Users\4iiiis\.p2\pool\plugins\org.codehaus.groovy_2.4.8.xx-201701160312-e46\lib\ivy-2.4.0.jar"/>
<listEntry value="C:\Users\4iiiis\.p2\pool\plugins\org.codehaus.groovy_2.4.8.xx-201701160312-e46\lib\servlet-api-2.4.jar"/>
<listEntry value="C:\Users\4iiiis\.groovy\greclipse\global_dsld_support"/>
<listEntry value="C:\Users\4iiiis\.p2\pool\plugins\org.codehaus.groovy_2.4.8.xx-201701160312-e46\plugin_dsld_support\"/>
<listEntry value="E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\GroovyParallel-Groovy2.4-14102016.jar"/>
<listEntry value="E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\JCSP-Java8-14102016.jar"/>
<listEntry value="E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\junit.jar"/>
<listEntry value="E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\phwclasses.jar"/>
<listEntry value="E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\ChapterExamples\bin"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.codehaus.groovy.tools.GroovyStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--classpath &quot;${workspace_loc:\ChapterExamples}\src;${workspace_loc:\ChapterExercises}\src;E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\GroovyParallel-Groovy2.4-14102016.jar;E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\JCSP-Java8-14102016.jar;E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\junit.jar;E:\Uni\Year-3\Fundamentals-of-Parallel-Systems\UCaPE-J8-G2.4-Lib-Zip-14102016\UCaPE-J8-G2.4-14102016\phwclasses.jar;${workspace_loc:\ChapterExamples}\bin;${workspace_loc:\ChapterExercises}\bin-groovy&quot; --main groovy.ui.Console &quot;${resource_loc:/ChapterExercises/src/c2/ThreeToEightTestCase.groovy}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ChapterExercises"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" -Dgroovy.home=&quot;${groovy_home}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:\ChapterExercises}"/>
</launchConfiguration>
